<div class="row">
  <div class="col-12 col-md-4">
    <div class="card">
      <img class="card-img"
          src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{ movie.backdropPath }}" alt="_blank" />
    </div>
  </div>
  &nbsp;
  <div class="col-12 col-md-7">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">{{ movie?.title }} ({{ movie?.releaseYear | date: 'yyyy'}})</h5>                    
      </div>
      <div class="card-body">
        <p><strong>Language: </strong> <span>{{ movie?.language }}</span></p>
        <p class="card-title text-justify"><strong>Overview:</strong> {{ movie?.overview }}</p>                
        <p><strong>Origin Country: </strong> <span>{{ movie?.originCountry }}</span></p>        
        <p><strong>Runtime: </strong> <span>{{ movie?.runtime }}</span></p>        
        <div class="d-inline-block">              
            <button type="button" class="btn btn-primary" [routerLink]="['editar', movie.id, 'movie']">Edit Movie</button>           
        </div>
      </div>
    </div>
  </div>
</div>