<div class="container">
		
			<form (ngSubmit)="onFormSubmit(movieEditForm)" #movieEditForm="ngForm">
				
				<legend>{{ movie.title }}</legend>
			
				<div class="row">
					<div class="col-lg-7 col-md-7 col-sm-8">
						<div class="form-group">
							<label for="">Title</label>
							<input type="text" class="form-control" [(ngModel)]="movie.title" name="title">
						</div>
					</div>
					<div class="col-lg-5 col-md-5 col-sm-4">
						<div class="form-group">
							<label for="">Language</label>
							<input type="text" class="form-control" [(ngModel)]="movie.language" name="language">
						</div>
					</div>					
				</div>
				<div class="row">
					<div class="col-12">
						<div class="form-group">
						  <label for="">Overview:</label>
						  <textarea class="form-control" rows="3" [(ngModel)]="movie.overview" name="overview"></textarea>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="form-group">
							<label for="">Origin Contry:</label>
							<input type="text" class="form-control" [(ngModel)]="movie.originCountry" name="originCountry">
						</div>
					</div>				
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="form-group">
							<label for="">Release Year:</label>
							<input type="text" class="form-control" [(ngModel)]="movie.releaseDate" name="releaseDate">
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="form-group">
							<label for="">Runtime:</label>
							<input type="text" class="form-control" [(ngModel)]="movie.runtime" name="runtime">
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-3">
						<input type="submit" class="form-control btn btn-success" value="Save changes">
					</div>
				</div>
				
			</form>
		
</div>
