<div class="row">
  <div class="col-12 col-md-4">
    <div class="card">
      <img class="card-img"
          src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{ person.profilePath }}" alt="_blank" class="img-thumbnail"/>
    </div>
  </div>
  &nbsp;
  <div class="col-12 col-md-7">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">{{ person?.name }}</h4>                    
      </div>
      <div class="card-body">
        <p><strong>Height: </strong> <span>{{ person?.height }}</span></p>
        <p><strong>Hometown:</strong> {{ person?.hometown }}</p>                
        <p><strong>Home Country: </strong> <span>{{ person?.homeCountry }}</span></p>        
        <p><strong>Gender: </strong> <span>{{ person?.gender }}</span></p>        
        <div class="d-inline-block">              
            <button type="button" class="btn btn-primary" [routerLink]="['/people/edit/', person.id]">Edit Person</button>           
        </div>
      </div>
    </div>
  </div>
</div>