<div class="row">
  <div class="col-6">
    <div class="card">      
      <h4>Detalhes of {{ serie.name }}</h4> 
      <br>      
      <p><strong>País de origem:</strong> {{ serie.origin_country }}</p>
      <p><strong>Idiomas:</strong> {{ serie.original_language }} </p>
      <p align="justify"><strong>Sinopse:</strong> {{ serie.overview }}</p>      
    </div>    
  </div>
  <div class="col-6">
    <div class="card">
      <img  class="card-img" src="https://image.tmdb.org/t/p/w500_and_h282_face/{{ serie.backdrop_path }}" alt="">
    </div>    
  </div>    
</div>