<div class="container"> 
  <form>
    <div class="row">
      <div class="col-8">
        <div class="form-group"> 
          <label>Search tvs:</label> 
          <input type="text" (input)="findTvs($event.target.value)" name="" id="" placeholder="Type your search here..." class="form-control" required="required">
        </div>
      </div> 

      <div class="col-4">
        <label>Search for:</label>
        <select (change)="selectOption($event.target.value)" name="select" class="form-control" required="required">
          <option *ngFor="let search of searches" [value]="search">{{ search }}</option>
        </select>      
      </div>
    </div>
  </form>
</div>

<div class="col-12">
  <div class="card-columns">
    <div class="card bg-dark text-white" (click)="showDetails(tv)" *ngFor="let tv of tvs">
      <img class="card-img" 
          src="https://image.tmdb.org/t/p/w250_and_h141_face{{ tv.backdropPath }}" alt="_blank" />
      <div class="card-img-overlay">
        <p class="card-title"><mark>{{ tv.title }}</mark></p>
      </div>
    </div>
  </div>
</div>